__pycache__/
*.log
.venv
ModlessChatTrans.egg-info
babel.cfg

.idea/
.trae/

build/
dist/
main.build/
main.dist/
main.onefile-build/
main.spec

ModlessChatTrans-config.json
modless-chat-trans.toml
update_requirements.py
network.py

CTkScrollableDropdown/

MCT_cache.bak
MCT_cache.dat
MCT_cache.dir
mct-cache/

MoreSettingsDocs.md
plan.md