pyttsx3~=2.9
requests>=2.28.0,<3.0.0
Flask>=3.0.0,<3.2.0
customtkinter>=5.0.0,<6.0.0
hpyt==1.4.0
pyperclip>=1.8.0,<2.0.0
translators~=6.0.0
watchdog>=6.0.0,<7.0.0
chardet>=5.0.0,<6.0.0
tkinter-tooltip~=3.1.2
loguru~=0.7.3
langdetect~=1.0.9
packaging~=25.0
# 如需滚动和高度限制的下拉菜单，请按以下步骤操作：
# 1. 下载仓库 https://github.com/Akascape/CTkScrollableDropdown
# 2. 解压后进入仓库目录
# 3. 将其中的 CTkScrollableDropdown 子文件夹复制到项目根目录